doctype 5
html(data-ng-app="")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
	script(src="javascripts/angular/angular.min.js")
	script(src="javascripts/lib/controller.js")
