!!!
html(data-ng-app="testAngular")
	head
		title= title
		meta(charset='utf8')
		base(href='/')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body

		
		//- script(src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js")
		//- script(src="//ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-route.js")

		block content
	
	//- script(src="javascripts/angular/angular.min.js")
	//- script(src="javascripts/angular/angular-route.min.js")
	
